name: Daily Chess ETL

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run ETL
      run: python ETL.py

    - name: Commit CSV
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add data/chess_games.csv
        git commit -m "Update CSV from daily ETL" || echo "No changes to commit"
        git push 